@tailwind base;
@tailwind components;
@tailwind utilities;

.mySwiper .swiper-pagination-bullet {
  @apply bg-white border-white; /* Applies Tailwind's white background color */
}

.mySwiper .swiper-pagination-bullet-active {
  @apply bg-white; /* Applies Tailwind's white background color for active bullet */
}


.swiper-pagination-bullet {
    @apply bg-transparent border border-gray-600; /* Default bullet border and transparent background */
  }
  
  .swiper-pagination-bullet-active {
    @apply bg-gray-500 border-gray-600; /* Active bullet background and border color */
  }
  
body {
  background-color: #130f0c;
  font-family: poppins;
  overflow-x: hidden;
}
