@tailwind base;
@tailwind components;
@tailwind utilities;

.mySwiper .swiper-pagination-bullet {
  @apply bg-white border-white; 
}

.mySwiper .swiper-pagination-bullet-active {
  @apply bg-white;
}


.swiper-pagination-bullet {
    @apply bg-transparent border border-gray-600; 
  }
  
  .swiper-pagination-bullet-active {
    @apply bg-gray-500 border-gray-600; 
  }
  
body {
  background-color: #130f0c;
  font-family: poppins;
  overflow-x: hidden;
}
